@using C_sharp_p247.Models
@using System.Web.Mvc
@model SignUp

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Monthly Quote</h5>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Success", "Home", FormMethod.Post))
            {
            <input type="hidden" name="Id" value="@signup.Id" />
            <div class="row mb-3">
                <div class="col-2">
                    @signup.FirstName
                </div>
                <div class="col">
                    @signup.LastName
                </div>
                <div class="col">
                    @signup.Quote
                </div>
            </div>
            }
        </div>
    </div>
</div>
