@using C_sharp_p247.Models
@using C_sharp_p247.Controllers
@using C_sharp_p247.ViewModels
@using System.Web.Mvc
@model SignUp

@{
    InsuranceEntities2 db = new InsuranceEntities2();
    var signup = db.SignUps.ToList();
    int a = signup.Count() - 1;
    string firstName = signup[a].FirstName;
    string lastName = signup[a].LastName;
    var quote = signup[a].Quote;
}

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Monthly Quote</h5>
        </div>
        <div class="card-body">
            <div class="row no-gutters">
                <div class="form-group col-md-12">
                    @firstName
                </div>
                <div class="form-group col-md-12">
                    @lastName
                </div>
                <div class="form-group col-md-12">
                    <strong>Your monthly quote: $</strong> @quote
                </div>
            </div>
        </div>
    </div>
</div>
